<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject_Kotlin"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9jE514M0pljrp0rsQh-s-gTHBssBWD38" />

        <activity
            android:name=".Maps.Maps_User_Activity"
            android:exported="false"
            android:label="@string/title_activity_maps_user" />
        <activity
            android:name=".Maps.Maps_Rest_Activity"
            android:exported="false"
            android:label="@string/title_activity_maps_rest" />
        <activity
            android:name=".Display_Food_Admin"
            android:exported="false" />
        <activity
            android:name=".Insert_Admin_Food"
            android:exported="false" />
        <activity
            android:name=".Details_Activity"
            android:exported="false" />
        <activity
            android:name=".Edit_Activity"
            android:exported="false" />
        <activity
            android:name=".Insert_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin_Activity"
            android:exported="false" />
        <activity
            android:name=".Food_Rest_Activity"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
        <activity
            android:name=".Sgin_In_Activity"
            android:exported="false" />
        <activity
            android:name=".Register_Activity"
            android:exported="false" />
        <activity
            android:name=".First_Screen"
            android:exported="false" />

        <service
            android:name=".Servic.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>